{% extends "base_nav.htm" %}
{% block main_title %}Stats{% endblock %}
{% block main_content %}
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Ano</th>
				<th>M&ecirc;s</th>
				{% for key in keys %}
					<th style="word-wrap: break-word;">{{ key }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for line in totals %}
				<tr>
					<td>{{ line.0 }}</td>
					<td><a href="{% url 'app.views.month_pie' %}?year={{ line.0 }}&month={{ line.1 }}">{{ line.1 }}</a></td>
					{% for spending in line.2 %}
					<td>{{ spending }}</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
{#</body>#}
{#</html>#}
{% endblock %}
