<!DOCTYPE html> 
<html>
<head>
	<meta charset="utf-8">
	<title>Coppers | Budget Control Web Application</title>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="bootstrap/css/bootstrap-responsive.css">
	<style type="text/css">
		body {
			/* DARK */
			/* background-image: url("img/bg/black_denim.png"); */
			/* background-image: url("img/bg/black_linen_v2.png"); */
			/* background-image: url("img/bg/black_paper.png"); */
			/* background-image: url("img/bg/black_scales.png"); */
			/* background-image: url("img/bg/black_thread.png"); */
			/* background-image: url("img/bg/broken_noise.png"); */
			/* background-image: url("img/bg/dark_wood.png"); */
			/* background-image: url("img/bg/fake_brick.png"); */
			
			/* LIGHT */
			/* background-image: url("img/bg/large_leather.png"); */
			/* background-image: url("img/bg/cutcube.png"); */
			/* background-image: url("img/bg/snow.png"); */
			/* background-image: url("img/bg/cross_scratches.png"); */
			
			background-image: url("img/bg/dark_wood.png");
			padding-top: 40px;
		}
	</style>
</head>
<body>

<div class="container">
	<div class="content">
	<div class="row">
		<div class="span8 well">
		<h1>Coppers</h1>
		<p>An online system for controlling your budget and keeping track of your personal spendings. I'm still working on the name.</p>
		</div>
	</div>
	<div class="row">
		<div class="span3 well">
			<form>
				<h2>Login</h2>
				<input id="account" name="account" type="text" placeholder="Account">
				<input id="account" name="passwd" type="password" placeholder="Password">
				<button class="btn btn-primary" type="submit">Login</button>
			</form>
		</div>
	</div>
	</div>
</div>
    
</body>
</html>

