{% extends "gastosapp/base_nav.htm" %}
{% block main_title %}Report: Cash Usage{% endblock %}
{% block main_content %}
<h3>{{ year }}/{{ month }}, todos os pagamentos com ({{ payments }})</h3>
<table class="table table-condensed table-bordered table-striped">
	<tr>
		<td style="border: solid 1px;">Acumulado</td>
		<td style="border: solid 1px;">Quando</td>
		<td style="border: solid 1px;">Quanto</td>
		<td style="border: solid 1px;">O Qu&ecirc;</td>
		<td style="border: solid 1px;">Tipo</td>
	</tr>
	{% for spending in spendings %}
		<tr>
			<td style="border: solid 1px;">{{ spending.total }}</td>
			<td style="border: solid 1px;">{{ spending.date }}</td>
			<td style="border: solid 1px;">{{ spending.value }}</td>
			<td style="border: solid 1px;">{{ spending.descr }}</td>
			<td style="border: solid 1px;">{{ spending.type }}</td>
		</tr>
	{% endfor %}
</table>
{% endblock %}

