<html>
<head>
	<title>Stats</title>
	<script type="text/javascript" src="media/jquery-1.5.2.js"></script>
	<script type="text/javascript" src="media/datejs-all/date-pt-PT.js"></script>
	<script type="text/javascript" src="media/datejs-all/date-en-US.js"></script>
</head>
<body>
	<h1>Stats</h1>
	<div><a href="logout">Logout</a></div>
	<div><a href="month_view">Month View</a></div>
	<div><a href="put_spendings_form">Batch Spendings</a></div>
	<div><a href="export_csv">Export CSV</a></div>
	<table style="border: solid 1px;">
		<tr>
			<td style="border: solid 1px;">Ano</td>
			<td style="border: solid 1px;">Mes</td>
			{% for type in totals %}
				<td style="border: solid 1px;">{{ type.0 }}</td>
			{% endfor %}
		{% for year,months in years.items %}
			{% for month in months %}
				<tr>
					<td style="border: solid 1px;">{{ year }}</td>
					<td style="border: solid 1px;">{{ month }}</td>
					{% for type,years in totals %}
						{% for year2,months in years.items %}
							{% if year2 == year %}
								{% for month2,sum in months.items %}
									{% if month2 == month %}
									<td style="border: solid 1px;">{{ sum }}</td>
									{% endif %}
								{% endfor %}
							{% endif %}
						{% endfor %}
					{% endfor %}
				</tr>
			{% endfor %}
		{% endfor %}
	</table>
</body>
</html>
